@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var currentDay = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Core App</h1>
    <h2>The current date and time: @currentDay</h2>
    <p></p>
</div>
